{
  "chainId": "MY_CHAIN",
  "key1": "SECRET",
  "key2": "SECRET",
  "httpEndpoint": "http://___MY_EOS_NODE___",
  "contract": "",
  "authorization": [{
    "actor": "",
    "permission": "active"
  }]

  "testkeys": [
    "SECRET",
    "SECRET",
    "SECRET",
    "SECRET"
  ],

  "testHttpEndpointSide": "http://___MY_EOS_NODE___",
  "testHttpEndpointMain": "http://___MY_EOS_NODE___"
}
